@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Mochiy+Pop+P+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
h2 {
position: absolute;
top: 10%;
left: 0;
width: 100vw;
padding-left: 10%;
}
a {
  color: #333;
  text-decoration: none;
}
.contact-container {
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  padding: 100px;
  border-radius: 10px;
  max-width: 800px; /* 최대 너비 조정 */
  display: flex;
  height: 200px;
  flex-direction: column;
}
.click {
  background-color: #f8f9fa;
  width: 80px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  padding-top: 20px;
  color: #333;
}
.gmail {
position: absolute;
top: 40%;
left: 20%;
}
.github {
position: absolute;
top: 40%;
left: 40%;
}
.instagram {
position: absolute;
top: 40%;
left: 60%;
width: 120px;
}
.last {
  position: absolute;
  top: 80%;
  left: 20%;
}


.home {
  position: absolute;
  top: 10%;
  right: 15%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00bbff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
